<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Bienvenido al Gestor de Notas</h1>
    </header>

    <section id="main-content">
        <article>
            <h2>Inicie sesion</h2>
            <p> <a href='/login'>inicia sesión</a> </p>
        </article>

        <article>
            <h2>Crear cuenta</h2>
            <p><a href='/login'>crear cuenta</a></p> <!--probablemente esto no se use peeero voy a dejar mientras-->
        </article>
    </section>
</body>
</html>
