
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class=".div-inicio">
        <h1>Detalles del Usuario</h1>
        
        <button id="mostrarDetalles">Mostrar Detalles</button>
    
        <div id="detallesUsuario" style="display: none;">
            {% if usuario %}
                <p><strong>Usuario:</strong> {{ usuario.username }}</p>
                <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
                <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
                <p><strong>Roles:</strong> {{ usuario.get_roles() }}</p>
            {% else %}
                <p>Usuario no encontrado.</p>
            {% endif %}
        </div>

    <section id="main-content">
        <article>
            <p> <a href='/logout'>cerrar sesión</a> </p>
        </article>
    </section>
    </div>

    <h1>Listado de Estudiantes</h1>

        <!-- Formulario para filtros -->
    <form action="{{ url_for('dashboard') }}" method="get">
        <label for="filtro_nombre"></label>
        <input type="text" name="filtro_nombre" value="{{ filtro_nombre }}" placeholder="Filtrar por nombre"> <br>
        <label for="filtro_apellido"></label>
        <input type="text" name="filtro_apellido" value="{{ filtro_apellido }}" placeholder="Filtrar por apellido"><br>
        <label for="filtro_cedula"></label>
        <input type="text" name="filtro_cedula" value="{{ filtro_cedula }}" placeholder="Filtrar por cedula"><br>
        <label for="filtro_curso"></label>
        <input type="text" name="filtro_curso" value="{{ filtro_curso }}" placeholder="Filtrar por curso"><br><br>
        <button type="submit">Filtrar</button>
    </form>
    <table>
        <thead>
            <tr>
                <th width="150px">Cédula</th>
                <th width="150px">Nombre</th>
                <th width="150px">Apellido</th>
                <th width="150px">Curso</th>
                <th width="150px">Acciones</th>
            </tr>
            
        </thead>
        <tbody>
            {% for estudiante in estudiantes.items %}
                <tr>
                    <td>{{ estudiante.cedula }}</td>
                    <td>{{ estudiante.nombre }}</td>
                    <td>{{ estudiante.apellido }}</td>
                    <td>{{ estudiante.curso }}</td>
                    <td>
                        <button class="font-bold text-sky-600 pb-6">
                            <a href="{{ url_for('eliminar', id=estudiante.id) }}">eliminar</a>
                        </button>
                        <button class="font-bold text-sky-600 pb-6">
                            <a href="{{ url_for('editar', id=estudiante.id) }}">editar</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginación -->
    <div>
        {% if estudiantes.has_prev %}
            <a href="{{ url_for('dashboard', page=estudiantes.prev_num, filtro_nombre=filtro_nombre, filtro_curso=filtro_curso) }}">Anterior</a>
        {% endif %}
        Página {{ estudiantes.page }} de {{ estudiantes.pages }}
        {% if estudiantes.has_next %}
            <a href="{{ url_for('dashboard', page=estudiantes.next_num, filtro_nombre=filtro_nombre, filtro_curso=filtro_curso) }}">Siguiente</a>
        {% endif %}
    </div>

    <br>

    <button id="mostrarFormulario">Agregar Estudiante</button>

    <div id="detallesForm" style="display: none;">
            <h1>Formulario de Estudiante</h1>

        <form method="post" action="{{ url_for('crear') }}">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" placeholder="Nombre" required><br>

            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" placeholder="Apellido" required><br>

            <label for="cedula">Cédula:</label>
            <input type="number" name="cedula" placeholder="Cédula" required><br>
            
            <label for="curso">Curso:</label>
            <input type="number" name="curso" placeholder="Curso" required><br>


            <button type="submit">Guardar</button>
        </form>
    </div>
        
        <script>
            // Función para cambiar la visibilidad de los detalles del usuario
            function toggleDetalles() {
                var detallesUsuario = document.getElementById('detallesUsuario');
                if (detallesUsuario) {
                    var displayValue = detallesUsuario.style.display;
                    detallesUsuario.style.display = (displayValue === 'none') ? 'block' : 'none';
                }
            }
    
            // Agregar un manejador de eventos al botón
            document.getElementById('mostrarDetalles').addEventListener('click', toggleDetalles);

            ///////////////////////////////////////
            function toggleDetallesForm() {
                var detallesForm = document.getElementById('detallesForm');
                if (detallesForm) {
                    var displayValue = detallesForm.style.display;
                    detallesForm.style.display = (displayValue === 'none') ? 'block' : 'none';
                }
            }
    
            // Agregar un manejador de eventos al botón
            document.getElementById('mostrarFormulario').addEventListener('click', toggleDetallesForm);
        </script>
    </body>
    </html>
    